In [ ]:
Name : Tavhare Siddhi Santosh
Roll No : 59
Practical No : 05

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("Downloads/Social_Network_Ads.csv")

In [5]:
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [7]:
df=df.drop(columns=['Gender'])

In [8]:
df.head(5)

    User ID  Age  EstimatedSalary  Purchased
0  15624510   19            19000          0
1  15810944   35            20000          0
2  15668575   26            43000          0
3  15603246   27            57000          0
4  15804002   19            76000          0

In [10]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=['Purchased'])
Y = df['Purchased']

X_train , X_test , Y_train , Y_test = train_test_split(X , Y , test_size=0.3 , random_state=42 )

In [12]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression

In [13]:
lr = LogisticRegression()
lr.fit(X_train,Y_train)

LogisticRegression()

In [15]:
print(lr.score(X_train,Y_train))
Y_train_pred = lr.predict(X_train)

0.7857142857142857

In [17]:
print("\n Confusion Matrix \n")
print(confusion_matrix(Y_train,Y_train_pred))

print("\n Classification Report \n")
print(classification_report(Y_train, Y_train_pred))

 Confusion Matrix

[[176   8]
 [ 52  44]]

 Classification Report

              precision    recall  f1-score   support

           0       0.77      0.96      0.85       184
           1       0.85      0.46      0.59        96

    accuracy                           0.79       280
   macro avg       0.81      0.71      0.72       280
weighted avg       0.80      0.79      0.77       280