In [ ]:
Name : Tavhare Siddhi Santosh
Roll No : 59
Practical No : 06

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("Documents\Loan_Data.csv")

In [4]:
data.head()

,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec
0,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0
1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0
2,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0
3,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0
4,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   int.rate           100 non-null    float64
 1   installment        100 non-null    float64
 2   log.annual.inc     100 non-null    float64
 3   dti                100 non-null    float64
 4   fico               100 non-null    int64
 5   days.with.cr.line  100 non-null    float64
 6   revol.bal          100 non-null    int64
 7   revol.util         100 non-null    float64
 8   inq.last.6mths     100 non-null    int64
 9   delinq.2yrs        100 non-null    int64
 10  pub.rec            100 non-null    int64
dtypes: float64(6), int64(5)
memory usage: 8.7 KB

In [7]:
pre_df =pd.get_dummies(data,columns=['purpose'],drop_first=True)
pre_df.head()

KeyError: "None of [Index(['purpose'], dtype='object')] are in the [columns]"

In [6]:
from sklearn.preprocessing import scale

In [7]:
features=scale(data[['sepal_length','sepal_width','petal_length','petal_width']])

In [8]:
pd.DataFrame(features).describe()

                  0             1             2             3
count  1.500000e+02  1.500000e+02  1.500000e+02  1.500000e+02
mean  -4.736952e-16 -6.631732e-16  3.315866e-16 -2.842171e-16
std    1.003350e+00  1.003350e+00  1.003350e+00  1.003350e+00
min   -1.870024e+00 -2.438987e+00 -1.568735e+00 -1.444450e+00
25%   -9.006812e-01 -5.877635e-01 -1.227541e+00 -1.181504e+00
50%   -5.250608e-02 -1.249576e-01  3.362659e-01  1.332259e-01
75%    6.745011e-01  5.692513e-01  7.627586e-01  7.905908e-01
max    2.492019e+00  3.114684e+00  1.786341e+00  1.710902e+00

In [9]:
#set species column as target column
target=data['species']

In [10]:
#checking unique value counts
target.value_counts()

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [11]:
#label encoder from sklearn for label encoding
from sklearn.preprocessing import LabelEncoder

In [12]:
#coverting text value into numerical value
target=pd.Series(LabelEncoder().fit_transform(target))

In [13]:
#check unique value counts
target.value_counts()

0    50
1    50
2    50
Name: count, dtype: int64

In [14]:
#importing train test split from sklearn model selection package for data split 25% for test
from sklearn.model_selection import train_test_split

In [15]:
#split data for train and test
x_train,x_test,y_train,y_test=train_test_split(features,target,test_size=0.15)

In [16]:
#printing data lengths/number of rows/data
print(len(x_train))
print(len(y_train))
print(len(x_test))
print(len(y_test))

127
127
23
23

In [17]:
#import naive bayes classifier from sklearn package
from sklearn.naive_bayes import GaussianNB

In [18]:
#created a object for the classifier
bc=GaussianNB()

In [19]:
#train usinge train data
bc.fit(x_train,y_train)

GaussianNB()

In [20]:
#predict target data for test feature data and save into pred variable
pred=bc.predict(x_test)

In [21]:
#importing metrics
from sklearn.metrics import precision_score,recall_score,f1_score,classification_report,accuracy_score

In [22]:
print('accuracy:',accuracy_score(pred,y_test))
print('precision:',precision_score(pred,y_test,average='micro'))
print('recall:',recall_score(pred,y_test,average='micro'))
print('f1_score:',f1_score(pred,y_test,average='micro'))

accuracy: 0.9130434782608695
precision: 0.9130434782608695
recall: 0.9130434782608695
f1_score: 0.9130434782608695

In [23]:
print(classification_report(pred,y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         6
           1       1.00      0.80      0.89        10
           2       0.78      1.00      0.88         7

    accuracy                           0.91        23
   macro avg       0.93      0.93      0.92        23
weighted avg       0.93      0.91      0.91        23